.topnavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Adjust this to your desired background color */
    padding: 10px; /* Adjust as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 5%;
    margin-left: 10px; /* Adjust as needed */
}

.topnavigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.topnavigation li {
    margin-right: 20px; /* Adjust as needed */
}

.topnavigation a {
    text-decoration: none;
    color: white; /* Adjust link color as needed */
}


